.Card{
    width:300px;
    border-radius: 10px;
    margin:20px;
    background-color: white;
}
.Card img{
    width:300px;
    height:200px;
    border-radius: 10px;
}
.card-detail{
    padding:10px;
}
.Card .card-detail span{
    color:blueviolet;
}
@media only screen and (max-width: 800px) {
    .Card{
        width:90%;
        margin-bottom: 10px; 
        margin-right: 20px;  
    }
    .Card img{
        width:100%;
        border-radius: 10px;
    }
}