.App{
  width:80%;
  padding-top: 10px;
  margin:auto;
}
.app-header{
  display: flex;
  justify-content: space-between;
  padding: 20px 0 30px 0px;
}
.app-header div{
  font-size: 24px;
  font-weight: 600;
}
.searchSection{
  position: relative;
}
.searchicon{
  position: absolute;
  top:5px;
  left:10px;
}
.app-header .searchSection input{
  padding: 8px 00px 8px 40px;
}
.filterSection{
  padding:10px 20px;
  display: flex;
  border: 1px solid grey;
  justify-content: space-between;
  border-radius: 12px;
  background-color: white;
}
.filterSection button{
  background-color: blueviolet;
  color:white;
  border-radius: 10px;
  cursor: pointer;
  padding: 0 10px;
}

@media only screen and (max-width: 800px) {
  .app-header{
    display: block;
  }
  .app-header div{
    padding-bottom: 10px;
  }
  .app-header .searchSection  input{
    width: 200px;
    height:30px;
    font-size: 16px;
  }
  .filterSection{
    width:40%;
    display:block;
    border: none;
  }
  .filterSection button{
    padding:5px 10px;
  }
  .searchicon{
    top:12px;
    left:10px;
  }
}